  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/mdb.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
      <!--Navbar-->
    <!-- Navigation -->
    <header>
      
      <style>
      .navbar .navbar-brand img {
        height: 20px;
      }

      .navbar .navbar-brand {
        padding-top: 0;
      }

      .navbar .nav-link {
        color: #444343!important;
      }

      .navbar .button-collapse {
        padding-top: 1px;
      }

      .card-intro .card-body {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-radius: 0 !important;
      }

      .card-intro .card-body h1 {
        margin-bottom: 0;
      }

      .card-intro {
        margin-top: 64px;
      }

      @media (max-width: 450px) {
        .card-intro {
          margin-top: 56px;
        }
      }

      @media (min-width: 1441px) {
        .card-intro {
          padding-left: 0 !important;
        }
      }
      </style>

      <!-- Navbar -->
      <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container">

          <!-- Brand -->
          <a class="navbar-brand waves-effect" href="/homepage" target="_blank">
            <img src="https://file.hstatic.net/1000159991/file/doremon2-min_208c99d4e9ab4a1e98e5d8ba58a9d6e0_grande.jpg" alt="Logo">
          </a>

          <!-- Collapse -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link waves-effect" href="/intell" >Types of intelligence</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-effect" href="/talk_about_types_of_intelligence" >Talk about types of intelligence</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-effect" href="/ourteam" >Our team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-effect" href="/uni" >Universities</a>
              </li>
            </ul>
  
            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item">
                <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li> 
              <li class="nav-item">
                <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link waves-effect"
                  target="_blank">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="https://mdbootstrap.com/docs/jquery/newsletter/"
                  class="nav-link border border-light rounded waves-effect mr-2" target="_blank">
                  <i class="fas fa-envelope mr-1"></i>Newsletter
                </a>
              </li>
            </ul>

          </div>

        </div>
      </nav>
      <!-- Navbar -->

      <!-- Intro -->
      <div class="card card-intro blue-gradient">

        <div class="card-body white-text rgba-black-light text-center">

          <!--Grid row-->
          <div class="row d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-6">

              <p class="h5 mb-2">
               We are MindX-ers
              </p>
              <p mb-0>--------</p>


            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </div>

      </div>
      <!-- Intro -->

    </header>
    <!-- Navigation -->
      <!-- Collapsible content -->
  <div class="container my-5">


      <!--Section: Content-->
      <section class="team-section text-center dark-grey-text">
    
        <!-- Section heading -->
        <!-- Section description -->
    
        <!-- Grid row-->
        <div class="row text-center text-md-left">
    
          <!-- Grid column -->
          <div class="col-lg-6 col-md-12 mb-5 d-md-flex justify-content-between">
            <div class="avatar mb-md-0 mb-4 mx-4">
              <img src="https://gamek.mediacdn.vn/2019/5/23/image001-15585993846731827889266.png" class="rounded z-depth-1 img-fluid" alt="Sample avatar">
            </div>
            <div class="mx-4">
              <h4 class="font-weight-bold mb-3">Bảo Lâm</h4>
              <h6 class="font-weight-bold grey-text mb-3">Leader</h6>
              <h6 class="font-weight-bold grey-text mb-3">From Ha Noi,Viet Nam</h6>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
                tenetur.</p>
              <!-- Facebook-->
              <a class="p-2 fa-lg fb-ic">
                <i class="fab fa-facebook-f"> </i>
              </a>
              <!-- Twitter -->
              <a class="p-2 fa-lg tw-ic">
                <i class="fab fa-twitter"> </i>
              </a>
              <!--Dribbble -->
              <a class="p-2 fa-lg dribbble-ic">
                <i class="fab fa-dribbble"> </i>
              </a>
            </div>
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-lg-6 col-md-12 mb-5 d-md-flex justify-content-between">
            <div class="avatar mb-md-0 mb-4 mx-4">
              <img src="https://gamek.mediacdn.vn/2019/5/23/image002-1558599409632434775215.png" class="rounded z-depth-1 img-fluid" alt="Sample avatar">
            </div>
            <div class="mx-4">
              <h4 class="font-weight-bold mb-3">Vũ Minh</h4>
              <h6 class="font-weight-bold grey-text mb-3">Web Designer</h6>
              <h6 class="font-weight-bold grey-text mb-3">From Ha Noi,Viet Nam</h6>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
                tenetur.</p>
              <!-- Facebook-->
              <a class="p-2 fa-lg fb-ic">
                <i class="fab fa-facebook-f"> </i>
              </a>
              <!--YouTube -->
              <a class="p-2 fa-lg yt-ic">
                <i class="fab fa-youtube"> </i>
              </a>
              <!--Instagram-->
              <a class="p-2 fa-lg ins-ic">
                <i class="fab fa-instagram"> </i>
              </a>
            </div>
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row-->
    
        <!-- Grid row-->
        <div class="row text-center text-md-left">
    
          <!-- Grid column -->
          <div class="col-lg-6 col-md-12 mb-5 d-md-flex justify-content-between">
            <div class="avatar mb-md-0 mb-4 mx-4">
              <img src="https://gamek.mediacdn.vn/2019/5/23/image006-1558599459321277548792.png" class="rounded z-depth-1 img-fluid" alt="Sample avatar">
            </div>
            <div class="mx-4">
              <h4 class="font-weight-bold mb-3">Khánh Nam</h4>
              <h6 class="font-weight-bold grey-text mb-3">Web Designer</h6>
              <h6 class="font-weight-bold grey-text mb-3">From Ha Noi,Viet Nam</h6>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
                tenetur.</p>
              <!-- Facebook-->
              <a class="p-2 fa-lg fb-ic">
                <i class="fab fa-facebook-f"> </i>
              </a>
              <!-- Twitter -->
              <a class="p-2 fa-lg tw-ic">
                <i class="fab fa-twitter"> </i>
              </a>
              <!-- GitHub-->
              <a class="p-2 fa-lg git-ic">
                <i class="fab fa-github"> </i>
              </a>
            </div>
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-lg-6 col-md-12 mb-5 d-md-flex justify-content-between">
            <div class="avatar mb-md-0 mb-4 mx-4">
              <img src="https://gamek.mediacdn.vn/2019/5/23/image008-15585994838171991124506.png" class="rounded z-depth-1 img-fluid"
                alt="Sample avatar">
            </div>
            <div class="mx-4">
              <h4 class="font-weight-bold mb-3">Tuấn Hùng</h4>
              <h6 class="font-weight-bold grey-text mb-3">Front-end Developer</h6>
              <h6 class="font-weight-bold grey-text mb-3">From Hung Yen,Viet Nam</h6>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
                tenetur.</p>
              <!-- Google +-->
              <a class="p-2 fa-lg gplus-ic">
                <i class="fab fa-google-plus-g"> </i>
              </a>
              <!--LinkedIn -->
              <a class="p-2 fa-lg li-ic">
                <i class="fab fa-linkedin-in"> </i>
              </a>
              <!--Email-->
              <a class="p-2 fa-lg email-ic">
                <i class="fas fa-envelope"> </i>
              </a>
            </div>
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row-->
    
      </section>
      <!--Section: Content-->
      <!-- Footer -->
  <!-- Footer -->
    </div>
    <footer class="page-footer font-small cyan darken-3">
 
      <!-- Footer Elements -->
      <div class="container">
    
        <!-- Grid row-->
        <div class="row">
    
          <!-- Grid column -->
          <div class="col-md-12 py-5">
            <div class="mb-5 flex-center">
    
              <!-- Facebook -->
              <a class="fb-ic">
                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic">
                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!-- Google +-->
              <a class="gplus-ic">
                <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!--Linkedin -->
              <a class="li-ic">
                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic">
                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!--Pinterest-->
              <a class="pin-ic">
                <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
              </a>
            </div>
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row-->
    
      </div>
      <!-- Footer Elements -->
    
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    
    </footer>
    <!-- Footer -->